:root {
	--scarlet-passion: #e63946;
	--whispering-sage: #fff;
	--coastal-cyan: #a8dadc;
	--slate-blue: #457b9d;
	--midnight-navy: #1d3557;
	--dewy-sage: #edf5e1;
	--aqua-foam: #cfefea;
	--frosted-mint: #b7e4c7;
	--primary-color: #2198d1;
	--secondary-color: #222;
	--light-color: #eeefe5;
	--dark-color: #dedecc;
	--extra-light-color: #f7f6f6;
	--light-green: #a4f188;
	--pale-yellow: #f9f871;
}

/* Reset some default styles */
body,
h1,
h2,
p,
ul,
li,
input,
textarea,
button {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Basic styles */
body {
	font-family: Arial, sans-serif;
	line-height: 1.6;
	background-color: var(--extra-light-color);
	color: var(--midnight-navy);
}

section,
header {
	display: flex;
	justify-content: center;
	align-items: start;
}

/* Sections */
#projects,
#blog,
#contact {
	padding-top: 3rem;
	padding-bottom: 5rem;
}

#about {
	min-height: 60vh;
}

.container {
	width: 70%;
	margin: auto;
}

h1 {
	margin-top: 5rem;
}

/* Navigation */
/******************************/

nav {
	height: 60px;
	width: 100%;
	position: fixed;
	top: 0;
	right: 0;
	box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
	background-color: var(--midnight-navy);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1;
}

nav ul {
	list-style-type: none;
	display: flex;
	gap: 2rem;
}

nav ul li a {
	text-decoration: none;
	transition: color 0.3s ease, transform 0.3s ease;
	color: var(--extra-light-color);
	font-size: small;
	font-weight: lighter;
}

nav ul li a:hover,
nav ul li a:active,
nav ul li a:focus {
	color: var(--dark-color);
	transform: scale(1.9);
}

nav ul li:last-child a {
	color: var(--light-green);
	font-weight: bold;
}

nav ul li:last-child a:hover,
nav ul li:last-child a:active,
nav ul li:last-child a:focus {
	color: var(--pale-yellow);
	transform: scale(1.9);
}

/* Hamburger Menu */
.menu-toggle {
	display: none;
	flex-direction: column;
	cursor: pointer;
	position: absolute;
	top: 1rem;
	right: 1rem;
}

/* Hamburger Menu Animation */
.bar {
	height: 3px;
	width: 25px;
	background-color: var(--extra-light-color);
	margin: 4px 0;
	transition: 0.3 ease;
}

/* Cross Sign Animation */
.menu-toggle.active .bar:nth-child(1) {
	transform: translateY(8px) rotate(45deg);
}

.menu-toggle.active .bar:nth-child(2) {
	opacity: 0;
}

.menu-toggle.active .bar:nth-child(3) {
	transform: translateY(-8px) rotate(-45deg);
}

/* Header */
/***************************/

#hero .container {
	text-align: right;
}

header {
	background-color: var(--midnight-navy);
	color: var(--extra-light-color);
	height: 40vh;
}

header h3 {
	font-size: x-large;
	font-weight: lighter;
}

/* profile picture styles */
header #oval-container {
	position: absolute;
	top: 40%;
	left: 20%;
	transform: translate(-50%, -50%);
	width: 190px;
	height: 200px;
	border-radius: 50%;
	overflow: hidden;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
	border: 4px solid #ffffff;
}

header #oval-container img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/* Projects Section */
/***********************/

#projects {
	background-image: linear-gradient(
			rgba(207, 239, 234, 0.8),
			rgba(207, 239, 234, 0.8)
		),
		url(https://images.unsplash.com/photo-1618005198919-d3d4b5a92ead);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	padding: 50px 0;
}

#projects h2 {
	font-family: Arial, sans-serif;
	color: var(--slate-blue);
	text-align: center;
	margin: 1rem auto 2.5rem auto;
	font-size: xx-large;
	font-weight: lighter;
}

#projects-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 20px;
}

.project-card {
	max-width: 500px;
	padding: 25px;
	border-radius: 12px;
	background-color: rgba(255, 255, 255, 0.7);
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	transition: transform 0.3s ease;
}

.project-card:hover {
	transform: translateY(-2px);
}

.project-card h3 {
	font-size: 1rem;
	color: #224;
	margin-bottom: 15px;
	letter-spacing: 1px;
}

.project-details {
	display: flex;
	flex-direction: column;
	margin-bottom: 15px;
}

.project-details .icons {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 10px;
}

.project-details .icons i {
	font-size: 0.8rem;
	color: #446;
	margin-right: 1rem;
	transition: color 0.3s ease;
}

.project-details .icons i:hover {
	color: #00adb5;
}

.project-details .tags {
	display: flex;
	flex-wrap: wrap;
}

.project-details .tags span {
	font-size: 0.6rem;
	color: #00adb5;
	margin-right: 0.5rem;
	background-color: rgba(0, 173, 181, 0.1);
	padding: 0.25rem 0.5rem;
	border-radius: 8px;
	margin-bottom: 0.5rem;
	transition: background-color 0.3s ease;
}

.project-details .tags span:hover {
	background-color: rgba(0, 173, 181, 0.3);
}

.project-card p,
ul li {
	font-size: 0.7rem;
	color: #446;
	font-weight: 100;
	letter-spacing: 1px;
}

.project-card ul {
	list-style-type: none;
	padding-left: 0;
}

.project-card img {
	max-width: 100%;
	height: auto;
	border-radius: 8px;
	margin-bottom: 15px;
}

/* Expertise Section */
/*****************************/
#expertise {
	text-align: center;
	padding: 50px 0;
}

#expertise-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
	padding: 0;
	gap: 1rem;
}

.skill-container {
	width: 160px;
}

.skill {
	font-size: 3rem;
	width: 100px;
	height: 100px;
	line-height: 100px;
	text-align: center;
	border-radius: 50%;
	transition: all 0.3s ease-in-out;
	padding: 1rem;
	border: 5px solid var(--dewy-sage);
	background-color: var(--aqua-foam); /* Updated background color */
}

.skill i {
	color: var(--slate-blue); /* Updated icon color */
}

.skill:hover {
	transform: scale(1.05);
}

.skill-heading {
	font-size: 1.1rem;
	margin-top: 1rem;
	color: var(--secondary-color);
	text-align: left;
}

.skill-list {
	list-style-type: none;
	padding: 0;
	margin-top: 10px;
}

.skill-list li {
	font-size: 0.75rem;
	color: var(--secondary-color);
	margin-bottom: 5px;
	text-align: left;
}

/* Blog Section */
/*****************************/

#blog {
	background-image: linear-gradient(
			rgba(207, 239, 234, 0.8),
			rgba(207, 239, 234, 0.8)
		),
		url(https://images.unsplash.com/photo-1618005198919-d3d4b5a92ead);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	padding: 50px 0;
}

#blog h2 {
	font-family: Arial, sans-serif;
	color: var(--slate-blue);
	text-align: center;
	margin: 1rem auto 2.5rem auto;
	font-size: xx-large;
	font-weight: lighter;
}

.blog-posts {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 20px;
}

.blog-post {
	max-width: 500px;
	padding: 25px;
	border-radius: 12px;
	background-color: rgba(255, 255, 255, 0.7);
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	transition: transform 0.3s ease;
}

.blog-post:hover {
	transform: translateY(-2px);
}

.blog-post img {
	width: 100%;
	height: 100px;
	border-radius: 8px;
}

.blog-post h3 {
	font-size: 1rem;
	color: #224;
	margin-bottom: 15px;
	letter-spacing: 1px;
	font-weight: 500;
}

.metrics-and-button {
	display: flex;
	justify-content: space-between;
}

.blog-post .metrics {
	display: flex;
	align-items: center;
	color: var(--slate-blue);
}

.blog-post .metrics p {
	font-size: 0.8rem;
	margin-left: 10px;
	opacity: 0.7;
}

.blog-post .metrics i {
	margin-right: 4px;
}

.blog-post a.read-article {
	display: inline;
	background: none;
	padding: 0;
	color: var(--primary-color);
	text-decoration: underline;
	font-size: 0.9rem;
	margin-right: 10px;
	transition: opacity 0.3s ease, transform 0.2s ease;
	transform: scale(1);
}

.blog-post a.read-article:hover {
	opacity: 0.9;
}

/* Contact Section */
/***************************/
#contact {
	background-color: var(--extra-light-color);
}

#contact .container {
	width: 45%;
	margin: 0 auto;
}

#contact h2 {
	font-family: Arial, sans-serif;
	color: var(--slate-blue);
	text-align: center;
	margin: 1rem auto 2.5rem auto;
	font-size: xx-large;
	font-weight: lighter;
}

#contact-form {
	user-select: none;
}

.form-group {
	margin-bottom: 20px;
}

.form-group label {
	display: block;
	margin-bottom: 3px;
	font-family: Arial, sans-serif;
	font-size: 0.9rem;
	color: var(--slate-blue);
}

#contact-form input,
#contact-form textarea,
#contact-form button {
	width: 100%;
	padding: 15px;
	border: 1px solid var(--coastal-cyan);
	border-radius: 5px;
	background-color: var(--whispering-sage);
	font-size: 1rem;
	margin-top: 5px;
}

#contact-form input:focus,
#contact-form textarea:focus {
	border-color: var(--primary-color);
	outline: none;
	caret-color: var(--primary-color);
	transition: border-color 0.2s ease, caret-color 0.2s ease;
}

#contact-form input:not(:placeholder-shown),
#contact-form textarea:not(:placeholder-shown) {
	border-color: var(--light-green);
}

input::placeholder,
textarea::placeholder {
	color: var(--slate-blue);
	opacity: 0.3;
	font-size: 0.8rem;
}

#contact-form textarea {
	resize: vertical;
}

#contact-form button {
	background-color: var(--slate-blue);
	color: var(--whispering-sage);
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 1rem;
	transition: transform 0.2s ease;
}

#contact-form button:hover {
	transform: scale(1.007);
}

.error {
	color: red;
	margin-top: 5px;
	display: block;
	font-family: Arial, sans-serif;
	font-size: 0.9rem;
}

#error-message-container {
	position: relative;
}

.error::before {
	margin-right: 5px;
	font-size: 0.8rem;
	vertical-align: middle;
	display: inline-block;
}

.error:not(:empty)::before {
	content: "⚠";
}

.success-message-container {
	background-color: #dff0d8;
	color: #3c763d;
	border: 1px solid #d6e9c6;
	padding: 15px;
	margin-bottom: 20px;
	border-radius: 4px;
	text-align: center;
	display: none; /* Initially hidden */
}

/* Footer */
/*********************/

footer {
	background-color: #1d3557;
	padding: 2rem;
}

.footer-content {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

.social-section {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.social-heading {
	margin-bottom: 5px;
	font-size: 0.8rem;
	opacity: 0.6;
	color: var(--aqua-foam);
	font-weight: lighter;
	letter-spacing: 1.5px;
}

.separator {
	width: 1px;
	height: 2rem;
	background-color: var(--aqua-foam);
	opacity: 0.6;
	margin: 0 4rem;
}

.social-links {
	display: flex;
	justify-content: center;
	gap: 1.5rem;
}

.social-link {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.social-links a {
	color: var(--aqua-foam);
	text-decoration: none;
	transition: color 0.3s ease;
	font-size: 1.5rem;
	border-radius: 3px;
	opacity: 0.9;
}

.social-links a:hover {
	opacity: 1;
}

.follower-count {
	margin-top: 0.5rem;
	font-size: 0.75rem;
	color: var(--light-color);
	opacity: 0.4;
}

.personal-link {
	color: var(--aqua-foam);
	text-decoration: none;
	transition: color 0.3s ease;
	font-size: 1rem;
	border-radius: 3px;
	opacity: 0.9;
}

.personal-link:hover {
	opacity: 1;
}

p#copyright {
	text-align: center;
	color: #dedecc;
	opacity: 0.6;
	margin-top: 3rem;
	font-weight: 100;
	font-size: 0.9rem;
}

/* Responsive styles */

@media (max-width: 768px) {
	/* Responsive Navigation Bar */
	nav {
		height: auto;
		box-shadow: none;
	}

	nav ul {
		flex-direction: column;
		align-items: center;
		gap: 1rem;
	}

	.nav-links {
		display: none;
		flex-direction: column;
		align-items: center;
		width: 100%;
		text-align: center;
		transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
		opacity: 0;
		visibility: hidden;
		padding: 2rem 0;
	}

	.menu-toggle {
		display: flex;
	}

	/* Show the navigation links when the menu is toggled */
	.nav-links.active {
		display: flex;
		opacity: 1;
		visibility: visible;
	}

	/* Adjust sections padding */
	#projects,
	#blog,
	#contact {
		padding-top: 2rem;
		padding-bottom: 3rem;
	}

	/* Adjust container width */
	.container {
		width: 90%;
	}

	header {
		height: 25vh;
	}

	header h3 {
		font-size: medium;
		margin-top: 0;
	}

	header #oval-container {
		top: calc(181px);
		left: 25%;
	}

	#about {
		padding-top: calc(52px);
		padding-bottom: 2rem;
	}

	/* Blog post adjustments */
	.blog-post {
		padding: 10px;
	}

	.blog-post img {
		height: 100px;
	}

	/* Contact form adjustments */
	#contact .container {
		width: 90%;
	}

	#contact-form input,
	#contact-form textarea,
	#contact-form button {
		padding: 10px;
		font-size: 0.9rem;
	}

	/* Responsive Footer Separator */
	.separator {
		width: 100%;
		height: 1px;
		margin: 1rem 0;
	}
}
