/* ------------------------------ Overriding Defaults --------------------------------------------------------*/
*{
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

body{
	background: linear-gradient(-45deg,#e5e5ff,#ccccff,#b2b2ff);
	min-height: 100vh;
}

/* ------------------------------ Main styles --------------------------------------------------------*/
header, main, footer {
  max-width: 80%;
  margin: 0 auto;
}

/* ------------------------------ Header --------------------------------------------------------*/
header{
  text-align: right;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-bottom: 2px solid #7d97ad;
}

header img {
  width: 50px;
  height: 50px;
}

h1{
	font-size: 1.8rem;
	margin-bottom: 5px;
	font-weight: 200;
}

header p {
	font-size: 15px;
	margin-bottom: 5px;
}

/* ------------------------------ Main styles --------------------------------------------------------*/
main{
}

/* ------- section1 --------*/
#about{
	width: 100%;
	height: 450px;
	background: url("coding.jpg") no-repeat center;
	background-size: cover;
	margin: 20px auto 30px;
}

#aboutoverlay {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #e1f7db;
  overflow: hidden;
  width: 100%;
  height: 100%;
  opacity: 0.4;
}

/* ------- section2 --------*/
h2{
  font-weight: 180;
  font-size: 1.5rem;
  margin-bottom: 15px;
}

#projects {
	padding: 10px;
}

#container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.project {
	margin-bottom: 20px;
}

.project img {
  height:auto;
  max-width: 300px;
  border: 1px solid #999;
  border-radius: 4px;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}

h3{
  font-size: 1.3rem;
  margin: 10px auto 5px;
  font-weight: 160;
}

.project p{
  font-size: .8rem;
}

/* ------------------------------ Footer --------------------------------------------------------*/
footer{
  text-align:right;
  margin: 30px auto 20px;
  border-top: 1.45px dashed #888;
  border-bottom: 1.45px dashed #888;
  padding: 10px;
}


/* ------------------------------Responsive optimizations --------------------------------------------------------*/
@media screen and (min-width: 501px) and (max-width: 1180px){
  .project img {
    max-width: 100%;
  }
  .project{
    width: calc(50% - 10px);;
  }
}

@media screen and (max-width: 600px){
  body{
	  text-align: center;
  }
  
  #container{
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  #project1, #project2, #project3 {
    width: 100%;
  }
  .project img {
    max-width: 100%;
    margin: 0 auto;
  }
  .project p{
	margin-bottom: 30px;
  }

}